/* 6+, 7+, 8+ */

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  body {
    background-position-y: 10%;
  }

  .title {
    margin-top: 168px;
  }

  .header,
  .sub,
  .sub.ja,
  .sub.nl {
    margin-top: 30px;
  }

  h1,
  h1.fr {
    font-size: 30px;
  }

  .content.ru,
  .sub.ru,
  .sub.ja,
  .sub.zh {
    margin-top: 20px;
  }

  .content {
    margin-top: 16px;
  }

  .text-item.ja {
    font-size: 14px;
  }

  .card {
    width: 120px;
    height: 150px;
  }

  .sub-type {
    font-size: 14px;
    margin-bottom: 14px;
  }

  .sub-type.fr,
  .line.fr,
  .line.ru {
    font-size: 12px;
  }

  .footer,
  .links {
    margin-top: 12px;
  }

  .sale {
    width: 29px;
    height: 29px;
    font-weight: 400;
    font-size: 10px;
  }

  button {
    height: 48px;
  }
}
