body {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    background: url("/assets/background-full/4.png") no-repeat;
    margin: 0 auto;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
    body {
        background: url("/assets/background-full/4@2x.png") no-repeat;
        background-size: cover;
        background-position-y: 15%;
    }
}

@media (-webkit-min-device-pixel-ratio: 3),
(min-resolution: 3dppx) {
    body {
        background: url("/assets/background-full/4@3x.png") no-repeat;
        background-size: cover;
    }
}

/* Header Container -----------------------------*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 20px 0;
}

.header-item:last-child a {
    font-size: 13px;
    opacity: .6;
    color: white;
    text-decoration: none;
}

/* Title Container ------------------------------*/

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 157px;
}

.title.es {
    margin: 157px 0 0;
}

h1 {
    color: white;
    font-size: 36px;
    text-align: center;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

h1.ja {
    font-size: 28px;
}

h1.fr {
    font-size: 32px;
}

h1.ru {
    font-size: 30px;
}


/* Content Container ------------------------------*/

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 92px;
}

.content.fr {
    margin-top: 20px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    line-height: 31px;
}

li .img-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
}

p {
    margin: 0 0 0 8px;
    font-size: 17px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.684495);
}

/* Sub Container With Cards ----------------------*/

.sub {
    display: flex;
    margin: 50px 40px 0;
    justify-content: center;
    align-items: center;
}

.sub.ja {
    margin-top: 40px;
}

.sub.fr {
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 131px;
    height: 162px;
    margin-right: 16px;

    color: white;
    opacity: .25;
    transition: .2s;
}

.card.active {
    opacity: 1;
    transform: scale(1.1);
}

.card:first-child {
    background: url("/assets/shape-1.svg") no-repeat;
}

.card:last-child {
    background: url("/assets/shape-2.svg") no-repeat;
}

.card:last-child {
    margin-right: 0;
}

.type {
    text-align: center;
    margin-bottom: 10px;
}

.sub-type {
    margin-bottom: 18px;
    font-weight: 700;
}

.price {
    width: 76px;
    line-height: 15px;
}

.price span {
    font-size: 22px;
}

.price {
    font-size: 14px;
}

.per-month {
    font-size: 12px;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103%;
    height: 22px;
    margin-bottom: 10px;
    background: #495795;

    font-weight: 700;
    font-size: 14px;

    -webkit-box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.1);
}

.sale {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #DB0000;

    font-size: 10px;
    font-weight: 700;

    transition: .2s;
}

.sale.active {
    font-size: 12px;
}

/* Button ----------------------*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

button {
    width: 280px;
    height: 54px;
    background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
    border-radius: 30px;
    color: white;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 700;
}

/* Footer Container ------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    margin: 16px 25px 0;
}

.text {
    text-align: center;
    font-size: 11px;
    opacity: 50%;
    color: white;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    font-size: 11px;
}

.links a {
    color: #BDC0D0;
}

/* 12, 12 Pro */

@media only screen
and (device-width: 390px)
and (device-height: 844px)
and (-webkit-device-pixel-ratio: 3) {

    .title {
        margin-top: 167px;
    }

    .sub.ja {
        margin-top: 40px;
    }

    .content {
        margin-top: 40px;
    }

    h1.ja {
        font-size: 32px;
    }

    h1.fr {
        font-size: 32px;
    }
}

/* 6+, 7+, 8+ */

@media only screen
and (device-width: 414px)
and (device-height: 736px)
and (-webkit-device-pixel-ratio: 3) {
    body {
        background-position-y: 10%;
    }

    .title {
        margin-top: 168px;
    }

    .header {
        margin-top: 30px;
    }

    h1 {
        font-size: 30px;
    }

    h1.fr {
        font-size: 30px;
    }

    h1.ru {
        font-size: 28px;
    }

    .sub.ja {
        margin-top: 30px;
    }

    .content {
        margin-top: 16px;
    }

    .text-item.ja {
        font-size: 14px;
    }

    .card {
        width: 120px;
        height: 150px;
    }

    .sub-type {
        font-size: 14px;
        margin-bottom: 14px;
    }

    .sub-type.fr {
        font-size: 12px;
    }

    button {
        height: 40px;
    }

    .footer, .links {
        margin-top: 12px;
    }

    .line.fr {
        font-size: 12px;
    }

    .line.ru {
        font-size: 12px;
    }

    .sale {
        width: 28px;
        height: 28px;
        font-weight: 400;
        font-size: 10px;
    }
}

/* 6,7,8, se */

@media screen
and (min-device-width: 375px)
and (max-device-height: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

    .header, .sub, .button {
        margin-top: 20px;
    }

    .title {
        margin-top: 150px;
    }

    h1 {
        font-size: 30px;
    }

    h1.ja {
        font-size: 24px;
    }

    h1.fr {
        font-size: 26px;
    }

    h1.ru {
        font-size: 28px;
    }

    .content {
        margin-top: 16px;
    }

    .content.fr {
        margin-top: 20px;
    }

    .card {
        width: 110px;
        height: 140px;
    }

    .sub-type.fr {
        font-size: 12px;
    }

    button {
        height: 40px;
    }

    .footer, .links {
        margin-top: 12px;
    }

    .price span {
        font-size: 16px;
    }

    .sub-type {
        font-size: 14px;
        margin-bottom: 14px;
    }

    .per-month {
        font-size: 10px;
    }

    .line {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .sale {
        width: 27px;
        height: 27px;
        font-weight: 400;
        font-size: 10px;
    }
}